{% extends "base.html" %}

{% block content %}
    <h1>Blog Posts</h1>
    
    <!-- {% if users|length == 0 %}
        <p>No blog posts yet</p>
    {% else %} -->

        <ul>
            {% for blog in users %}
            <li><h3><a href = "./blog?id={{blog.id}}">{{blog.title}}</h3></a>
                <br>
                {{blog.body}}
                <br>
                <p class="post-author">written by <a href="/blog?user={{blog.owner.id}}">{{blog.owner.username}}</a></p>
                <hr>
            </li>
            {% endfor %}
            <hr>
        </ul>

    {% endif %}

{% endblock %}