{% extends "base.html" %}

{% block content %}
    <h1>Make a Post</h1>
    <form method='post'>
        <label>
            Title of Blog Post:
        </label>
            <input type="text" name='title' />   <br>
            <p class="error">{{ title_error }}</p><br>
        <label>
            Blog Comments:
        </label>
        <br>
            <textarea name='body' rows="10" cols="30">
            </textarea>
            <p class="error">{{ post_error }}</p><br>
        <input type="submit" value='Add Post' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No posts yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.title}}
                {{blog.body}}
            </li>
            {% endfor %}
        </ul>
        <hr>
    {% endif %}

    <!-- <hr />

    <h2>Completed</h2>

    <ul>
        {% for task in completed_tasks %}
        <li>{{task.name}}</li>
        {% endfor %}
    </ul> -->

{% endblock %}