{% extends "base.html" %}

{% block content %}
    <h1>{{title}}</h1>
    <form method='post'>
        <label>
            Title of Blog Post:
            <input type="text" name='name' />
        </label>
        <span class="error">{{ name_error }}</span><br>
        <br>
        <br>
        <label>
            Post Details:
        </label>
        <br>
        <textarea name='body' rows='5' cols='50'></textarea>
        <span class="error">{{ post_error }}</span><br>
        <br>
        <input type="submit" value='Add Post' />
    </form>

    <hr />

    {% if blogs|length == 0 %}
    <p>No blog posts yet</p>
    {% else %}

        <ul>
            {% for blog in blogs %}
            <li>{{blog.name}}
                <br>
                {{blog.body}}
                <hr>
            </li>
            {% endfor %}
        </ul>

    {% endif %}

{% endblock %}